@import "../theme"

#app.dashboard
    .presetContainer
        .preset
            cursor: pointer
            background: $card
            border-radius: 20px
            padding: 2rem
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            transition: outline .2s ease-in-out
            position: relative
            outline: 0px solid transparent
            &.active 
                outline: 3px solid $accent

            h2 
                white-space: nowrap
                font-size: 1.2rem
            button.delete 
                background: none
                border: none
                height: 30px
                width: 30px
                position: absolute
                $distance: 10px
                top: $distance
                right: $distance
                cursor: pointer
                display: flex
                align-items: center
                justify-content: center
                svg 
                    transition: all .2s ease-in-out
                    color: $lighter
                    &:hover 
                        color: #f44336
            .previewContainer
                    height: 5px
                    width: 100%
                    border-radius: 20px
                    overflow: hidden
            .preview
                height: 100%
                width: 100%
                filter: blur(0px)
                opacity: 0
                opacity: 1
                transition: all .3s .3s ease-in-out
                @media screen and (max-width: 600px)
                    opacity: 1
            &:hover 
                .preview
                    transition: all .1s ease-in-out
                    opacity: 1
        &:last-of-type .preset h2
            font-size: 30px
            margin: 0