@import "theme"

html, body, #root, #app 
    background: $bg
    margin: 0
    height: 100%
    width: 100%
    


*
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important
    color: white


svg * 
    color: unset


html
    scrollbar-gutter: stable


body
    &::-webkit-scrollbar 
        width: 10px
        background: $bg
        padding: 2px
    &::-webkit-scrollbar-thumb 
        margin: 2px
        background: $card
        width: 6px
        border-radius: 100px
        

div.dashboard.loading 
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column