html, body, #root, #app 
    background: #202124
    margin: 0
    height: 100%
    width: 100%
*
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important
    color: white

svg * 
    color: unset